@media only screen and (max-width:992px){
    

    .margin-bottom .wrapper-text img {
        display: none;
    }

    .margin-bottom .wrapper-text{
        text-align: center;
       
    }

    .padding-bottom {
        padding-bottom: 85px;
      }
      .padding-bottom .text {
        margin-left: 450px;

      }


      .padding-bottom h1 {
        font-size: 2.2rem;
        font-weight: 700;
      }


      .about-padding{
        padding-bottom: 85px;
        margin-top: 40px;
      }
    
      .numbring{
        margin-bottom: 40px;
      }

      .service-padding-bottom .auto-servicing p{
        font-size: 15px;
      }

      .service-padding-bottom .quality-text span{
        font-size: 15px;
      }

      .padding-testimonial{
        margin-bottom: 30px; 
      }
    

}



@media only screen and (max-width:768px){

    .carousel-indicators{
        position: absolute;
        bottom: 20px;
    }

    .margin-bottom .wrapper-text h1{
        font-size: 4.1rem;
    }

    .text-bigwrapper{
        display: none;
    }

    .navbar>.container-fluid .navbar-brand{
        margin-left: 0px;
    }

    .navbar-default .navbar-nav>.active>a,

    .container-fluid>.navbar-collapse{
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-default .navbar-toggle{
        position: relative;
        top: 11px;
    }

    .container-fluid > .navbar-collapse{
        margin-left: -15px;
    }
}

@media only screen and (max-width:600px){

    .padding-bottom .text {

        margin-left: 415px;

      }

      .service-padding-bottom .auto-servicing {
        
        margin-top: 30px;
        padding-bottom: 85px;
      }

      .padding-testimonial-2{
        margin-bottom: 30px;
      }

      .item .tempor{
        margin: 0px;
      }

    .carousel-inner .my-items-1{
        height: 500px;
       
    }
    .carousel-inner .my-items-2{
        height: 500px;
    }

    .margin-bottom .wrapper-text{
        top: 130px;
    }

    .margin-bottom .wrapper-text h1{
        font-size: 3.5rem;
    }

}

@media only screen and (max-width:550px){
    .margin-bottom .wrapper-text a{
        padding: 20px 35px;
    }

    .margin-bottom .wrapper-text h1{
        font-size: 3rem;
    }

    .padding-bottom .text h3 span{
        font-size: 35px;
    }

    .padding-bottom .text h3{
        font-size: 20px;
    }

    .padding-bottom .text{
        margin-left: 385px;
    }

    .item .tempor{
        margin: 0px;
    }

    .carousel-inner .my-items-1{
        height: 500px;
       
    }
    .carousel-inner .my-items-2{
        height: 500px;
    }
}

@media only screen and (max-width:541px){
    .padding-bottom .text{
        margin-left: 373px;
    }
}

@media only screen and (max-width:500px){
    .padding-bottom .text{
        margin-left: 335px;
    }

    .padding-bottom h1{
        font-size: 2rem;
    }

    .padding-bottom #font-size{
        font-size: 15px;
    }

    .padding-bottom p{
        font-size: 1rem;
    }

    .padding-bottom a{
        padding: 20px 35px;
    }

    .padding-bottom-min h4{
        font-size: 15px;
    }

    .padding-bottom-min h1{
        font-size: 2.5rem;
    }

    .service-padding-bottom a{
        padding: 20px 35px;
    }

    .bigwrapper-booking .certified h1{
        font-size: 25px;
    }

    .bigwrapper-booking .certified p{
        font-size: 14px;
    }

    .bigwrapper-booking .form-validation form h1{
        font-size: 35px;
    }

    .bigwrapper-booking .form-validation form .name4{
        font-size: 14px;
    }

    .team h4{
        font-size: 15px;
    }

    .team h1{
        font-size: 2.5rem;
    }

    .second-testimonial h4{
        font-size: 15px;
    }

    .second-testimonial h1{
        font-size: 2.5rem;
    }

    .item .tempor{
        margin: 0px;
    }

    .carousel-inner .my-items-1{
        height: 500px;
       
    }
    .carousel-inner .my-items-2{
        height: 500px;
    }
}

@media only screen and (max-width:415px){
    .margin-bottom .wrapper-text h1{
        font-size: 2.5rem;
    }

    .padding-bottom .text{
        margin-left: 264px;
    }

    .padding-bottom .text h3{
        font-size: 17px;
    }

    .padding-bottom .text h3 span{
        font-size: 28px;
    }

    .margin-bottom .wrapper-text{
        top: 130px;
    }

    .item .tempor{
        margin: 0px;
    }

    .carousel-inner .my-items-1{
        height: 500px;
       
    }
    .carousel-inner .my-items-2{
        height: 500px;
    }
}

@media only screen and (max-width:397px){
    .padding-bottom .text{
        margin-left: 224px;
    }

    .bigwrapper-booking .form-validation form h1{
        font-size: 28px;
    }

    .bigwrapper-booking .form-validation form .name{
        width: 46.5%;
    }
    .bigwrapper-booking .form-validation form .name2{
        width: 46.5%;
        margin-left: 5%;
    }

    .team h1{
        font-size: 2rem;
    }

    .padding-bottom .text{
        margin-left: 245px;
    }

    .item .tempor{
        margin: 0px;
    }

    .margin-bottom .wrapper-text{
        top: 127px;
    }

}

@media only screen and (max-width:376px){
    .padding-bottom .text{
        margin-left: 222px;
    }
}

@media only screen and (max-width:350px){
    .padding-bottom .text{
       margin-left: 200px;
    }

    .item .tempor{
        margin: 0px;
    }

    .carousel-inner .my-items-1{
        height: 500px;
       
    }
    .carousel-inner .my-items-2{
        height: 500px;
    }


}

@media only screen and (max-width:361px){
    .padding-bottom .text{
        margin-left: 210px;
    }

    .padding-bottom h1{
        font-size: 1.8rem;
    }

    .padding-bottom-min h1{
        font-size: 2rem;
    }

    .item .tempor{
        margin: 0px;
    }

    .carousel-inner .my-items-1{
        height: 500px;
       
    }
    .carousel-inner .my-items-2{
        height: 500px;
    }

    .padding-bottom .text{
        margin-left: 198px;
    }

    .margin-bottom .wrapper-text h1{
        font-size: 2.3rem;
    }
}