.owl-carousel-section{
    padding-bottom: 85px;
}


.item{
    
    .img-border-1{
        border: 5px solid #F2F2F2;
    
    }

    .tempor{
        background-color:  #F2F2F2;
        padding: 15px 15px;
        margin: 0px 10px;
    }

    h5{
        font-size: 1.1rem;
        color: #0B2154;
        font-weight: 700;
        margin-bottom: 0px;
    }

    p{
        margin-bottom: 0px;
    }


}