
.text-bigwrapper{
    width: 100%;
    padding: 25px 30px;
    background-color: #f2f2f2;
    height: 70px;
    color: #4e4c58;
    
    
    

    .left-icons{
        float: left;
        margin: 0px 20px;
    }

    .right-icons{
        float: right;
        margin: 0px 20px;
    }

    .fa{
        color: #D81324;
       font-size: 20px;
       position: relative;
       top: 3px;
    }

    .social a{
        background-color:white;
        padding: 8px;
        margin: 2px;
    }
}